.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: grid;
  justify-content: center;
}
